<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">{{websiteTitle}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink=""><button (click)="countClick()" type="button"
                            class="btn btn-outline-success">Donate
                            10€</button></a>
                </li>
                <li>
                    <a class="nav-link">You donated = {{ counter }} €</a>
                </li>
                <li class="nav-item">
                    <ng-template [ngIf]="counter >= 200">Surprise !!! You are VIP member now</ng-template>
                </li>
            </ul>
        </div>
    </div>
</nav>