{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
{% for product in products %}
<div>
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
</div>
{% endfor %}

{% endblock %}