{% extends "base.html.twig" %}

{% block title %}Hey Serri{% endblock %}

{% block body %}
<p class="text-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maxime doloribus obcaecati
    doloremque delectus iusto, tempore sint quos mollitia nam sed fuga nihil eveniet fugiat quas! Quasi nam consequuntur
    nostrum.</p>
{% endblock %}