{% extends "base.html.twig" %} {% block title %}Hey Serri{% endblock %} {% block body %}
<p class="text-danger">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores ipsam et reiciendis sunt, veritatis aspernatur accusamus repellendus. Ipsam sit iusto totam quae incidunt, tempore provident aperiam repudiandae asperiores voluptatem repellendus.</p>
{% endblock %}