.hero {
    background: url("/assets/img_navbar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: black;
    text-shadow: 3px 3px 3px darkorange;
    text-align: center;
}