{% extends 'base.html.twig' %}

{% block title %}Hello {{user.fname}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Product index</h1>
    <a href="/logout">Logout</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>

                {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}