<h2>Products List</h2>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
    <div *ngFor="let product of products; index as i">
        <div class="card" style="width: 18rem;">
            <!-- <img src="/assets/audi.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text" *ngIf="product.description">{{ product.description }}</p>
                <a routerLink="/product/{{ i }}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
</div>