<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1">
        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/porsche.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Porsche</h5>
                    <p class="card-text">The city is quite popular for international tourism because London is home to
                        one of the oldest-standing monarchies in the western hemisphere.
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/mercedes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mercedes</h5>
                    <p class="card-text">Paris is one of the most beautiful cities in the world. It is known worldwide
                        for the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/bmw.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">BMW</h5>
                    <p class="card-text">New York is the biggest city in the United States with a population of over 8
                        million . The Hudson River lies in the southeast corner of the state that has the same
                        name.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/audi.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Audi</h5>
                    <p class="card-text">It is the largest city in the European Union.Berlin residents come
                        from about 190 different countries. The city is in the
                        eastern part of Germany in Central Europe and has a lot of forests and lakes..</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/lamborghini.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lamborghini</h5>
                    <p class="card-text">According to a legend, Rome was founded by Romulus and Remus, twins raised by a
                        wolf, in the 8th century BC (before Christ). Like Lisbon, Rome was built on seven hills.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div>
            <div class="card" style="width: 18rem;">
                <img src="/assets/jeep.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeep</h5>
                    <p class="card-text">Singapore is a island in South-east Asia, off the southern tip
                        of the Malay Peninsula. The city-state is inhabited by 5 million
                        people from four major communities; Chinese, Malay, Indian and Eurasian.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>